.parallaxAncora {
  background-image: url('./bgfitness12.jpg');
  background-size: 100%;
  width: 100%;
  height: 55vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.textoAncora {
  text-align: center;
  color: white;
  padding: 50px;
}

h2 {
  margin: 0;
}

@media (min-width: 992px) {
  .parallaxAncora {
    background-image: url('./bgfitness12.jpg');
    background-size: 100%;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .textoAncora {
    text-align: center;
    color: white;
    padding: 50px;

  }
}
