/* css do carrossel em react pelo react slick*/

.bannerCarrossel {
  /* filter: grayscale(100%); */
  opacity: 0.6;
}

.container {

  width: 100%;
  color: white;
  background: #940000;
  margin-bottom: 4px;
}


.slick-slide img {

  display: block;
  margin: 0 auto;
  padding-bottom: 0;
  width: 100%;

}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  margin-bottom: 0;
}
.slick-dots {
  bottom:5%;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}

.slick-vertical .slick-slide {
  height: 180px;
}

.slick-prev {

  left: 20px !important;
}
.slick-next {

  right: 20px !important;
}
.containerdesktop {
  display: none;
}
@media (min-width: 992px) {
.containerdesktop {
  display: block;
}
.slick-track {
  margin-bottom: -5px;
}


}
